/* Fonts */
@font-face {
  font-family: gotham-light;
  src: url(../Fonts/GothamSSm-Light_Web.otf);
}

@font-face {
  font-family: gotham-med;
  src: url(../Fonts/GothamSSm-Medium_Web.otf);
}

@font-face {
  font-family: gotham-bold;
  src: url(../Fonts/GothamSSm-Bold_Web.otf);
}

@font-face {
  font-family: gotham-xlight;
  src: url(../Fonts/GothamSSm-XLight_Web.otf);
}

@font-face {
  font-family: gotham-book;
  src: url(../Fonts/GothamSSm-Book_Web.otf);
}

/* General Site */
body {
  font-family: gotham-med;
  box-sizing: border-box;
  color: white;
}

/* -------------------------------- */
/* -----       1st Page       ----- */
/* -------------------------------- */
.page-1 {
  position: relative;
  height: 100vh;
  background: url(./images/Model-3-Page\ 1\ backgroung.jfif) no-repeat center center/cover;
}

/* Nav Bar */
nav {
  height: 56px;
}

.svg_logo {
  width: 120px;
  height: 24px;
  padding: 4px 8px;
  /* padding: auto; */
  display: block;
  list-style-type: none;
}

ul {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 4px 8px;
}

li a,
li a:visited {
  font-size: 14px;
  padding: 4px 8px;
  padding: auto;
  display: block;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

li:nth-child(n+2):hover {
  background-color: #2b2e34aa;
  border-radius: 5px;
}

li:nth-child(1) {
  padding-right: 5.7rem;
}

li:nth-child(2) {
  margin-left: auto;
}

li:nth-child(8) {
  margin-left: auto;
}

/* Top Header */
.top-header {
  margin: 10vh auto 0;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.6px;
  outline: 2px;
}

/* Aside Nav */

/* Bottom Specs */
.bottom-specs {
  height: 54px;
  position: relative;
  top: 62vh;
  left: 0;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
}

.spec {
  /* border: 2px solid orange; */
  height: 54px;
  width: 110px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 0 12px;
  display: flex;
}

.speedometer {
  /* margin: 50px solid yellow; */
  position: relative;
}

.speedometer-outer-circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 21px;
}

.speedometer-inner-circle {
  position: absolute;
  left: 2.45px;
  top: 2.6px;
  width: 30px;
  height: 15px;
  opacity: 0.7;
}

.speedometer-needle {
  position: absolute;
  left: 24px;
  top: 12px;
  width: 4px;
  height: 16px;
  rotate: 90deg;
}