/* Fonts */
@font-face {
  font-family: gotham-light;
  src: url(./fonts/GothamSSm-Light_Web.otf);
}

@font-face {
  font-family: gotham-med;
  src: url(./fonts/GothamSSm-Medium_Web.otf);
}

@font-face {
  font-family: gotham-bold;
  src: url(./fonts/GothamSSm-Bold_Web.otf);
}

@font-face {
  font-family: gotham-xlight;
  src: url(./fonts/GothamSSm-XLight_Web.otf);
}

@font-face {
  font-family: gotham-book;
  src: url(./fonts/GothamSSm-Book_Web.otf);
}

/* General Site */
body {
  font-family: gotham-med,sans-serif;
  box-sizing: border-box;
  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}
a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* -------------------------------- */
/* -----       1st Page       ----- */
/* -------------------------------- */
.page-1 {
  position: relative;
  height: 100vh;
  background: url(./images/page-1.jfif) no-repeat center center/cover;
}

/* Nav Bar */
nav {
  height: 56px;
  position: sticky;
  top: 0;
}

.svg_logo {
  width: 120px;
  height: 24px;
  padding: 4px 8px;
  /* padding: auto; */
  display: block;
  list-style-type: none;
}

ul {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 4px 8px;
}

li a,
li a:visited {
  font-size: 14px;
  padding: 4px 8px;
  display: block;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

/* li:nth-child(n+2) {
  transition: 0.4s ease-in;
} */

li:nth-child(n+2):hover {
  background-color: #2b2e34aa;
  border-radius: 5px;
  transition: 0.4s ease-in;
}

li:nth-child(1) {
  padding-right: 5.7rem;
}

li:nth-child(2) {
  margin-left: auto;
}

li:nth-child(8) {
  margin-left: auto;
}

/* Top Header */
.top-header {
  margin: 10vh auto 0;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.6px;
  outline: 2px;
}

/* Aside Nav */

/* Bottom Specs */
.specs-bar {
  margin-top: 2px;
  margin-left: 4px;
  height: 54px;
  position: relative;
  top: 64vh;
  left: 0;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
}

.spec-whole {
  /* border: 2px solid orange; */
  height: 54px;
  width: 120px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 0 30px 0;
  display: flex;
  flex-direction: column;
}

.top-half {
  width: 100%;
  height: 50%;
}

.bottom-half {
  width: 100%;
  height: 50%;
}

.speedometer {
  position: relative;
  display: block;
}

.speedometer-outer-circle {
  position: absolute;
  left: 8px;
  top: 0;
  width: 40px;
  height: 21px;
}

.speedometer-inner-circle {
  position: absolute;
  left: 6.5px;
  top: 2.6px;
  width: 30px;
  height: 15px;
  opacity: 0.45;
}

.speedometer-needle {
  position: absolute;
  left: 32px;
  top: 12px;
  width: 4px;
  height: 16px;
  rotate: 90deg;
}


/* specs text */
.top-half h3 {
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 0 40px;
}

.small-speed-txt {
  font-size: 24px;
}

.bottom-half h4 {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 300;
}

.spec2 .top-half h3 {
  margin-left: 0;
}

.spec3 .top-half h3 {
  margin-left: 0;
}

h4 {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* order now button */
.spec4 {
  border: 3px solid white;
  width: 196px;
  height: 34px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spec4 a {
  display: block;
  width: 102%;
  padding-top: 9px;
  padding-bottom: 9px;
  text-decoration: none;
  color: white;
  transition: 0.4s ease-in;
}

.spec4 a:hover {
  color: #171a20;
  background-color: white;
  transition: 0.4s ease-in;
}

.nav-down-link {
  color: white;
  text-decoration: none;
  font-size: 50px;
  padding: 10px;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 50vw;
  rotate: 180deg;
  animation: nav-move-down 2s infinite;
}

/* -------------------------------- */
/* -----       2nd Page       ----- */
/* -------------------------------- */

.page-2 {
  display: flex;
  position: relative;
  height: 100vh;
  top: 0;
}

.page-2-left {
  width: 77vw;
  position: relative;
  background: url(./images/page-2.jfif) no-repeat center center/contain;
}

.page-2-right {
  box-sizing: border-box;
  color: #171a20;
  padding: 42px 28px 20px 10px;
  width: 23vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 2px solid red; */
  justify-content: space-between;
}

span.light-header {
  padding-left: 0;
  margin-left: 0;
  font-family: monospace;
  line-height: 1.4;
  font-weight: 100;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.page-2-right h3.header {
  padding-left: 0;
  margin-left: 0;
  font-size: 28px;
  margin-top: 0;
  font-weight: 300;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.page-2-right p {
  padding-left: 0;
  font-family: gotham-book,sans-serif;
  margin: 12px auto 0;
  font-size: 14px;
  line-height: 1.2rem;
  font-weight: 300;
}

.page-2-right p:first-child {
  padding-top: 0;
  margin-top: 0;
}

.page-2-right-bottom {
  /* border: 1px solid blue; */
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
}

.page-2-link-1 {
  width: 150px;
  display: flex;
}

#p2ll {
  width: 40px;
  height: 40px;
  background: url(./images/plus-before.png) no-repeat center center/contain;
  transition: 0.4s ease-in;
}

.page-2-link-1:hover #p2ll {
  background: url(./images/plus-after.png) no-repeat center center/contain;
  transition: 0.4s ease-in;
}

#p2lr {
  width: 100px;
  height: 40px;
}

#p2lr a {
  text-decoration: none;
  font-size: 14px;
  color: #171a20;
  display: block;
  text-align: center;
  padding-top: 9px;
}

.page-2-link-2 {
  color: #171a20;
  border: 3px solid #171a20;
  width: 196px;
  height: 34px;
  border-radius: 4px;
  overflow: hidden;
}

.page-2-link-2 a {
  color: #171a20;
  width: 202px;
  height: 28px;
  padding-top: 9px;
  padding-bottom: 10px;
  position: relative;
  left: -30px;
  top: 0;
  transition: 0.4s ease-in;
}

.page-2-link-2 .spec-whole {
  border: none;
}

.page-2-link-2 .spec-whole a:hover {
  color: white;
}

.page-2-link-2:hover,
.page-2-link-2 a:hover {
  color: white;
  background-color: #171a20;
  transition: 0.4s ease-in;
}

/* Page 2 left side */
#pin-item1 {
  border-left: 3px solid #171a20;
  height: 15.3vh;
  width: 38.5vw;
  position: absolute;
  top: 16vh;
  left: auto;
  right: 0;
}

#pin-item2 {
  border-left: 3px solid #171a20c5;
  height: 22vh;
  width: 52vw;
  position: absolute;
  top: 29vh;
  left: auto;
  right: 0;
}

#pin-item3 {
  border-left: 3px solid #171a20;
  height: 15.3vh;
  width: 36vw;
  position: absolute;
  top: 59vh;
  left: auto;
  right: 0;
  display: flex;
  align-items: flex-end;
}

p.detail-txt {
  color: #171a20;
  margin: 0 7px;
}

#nav-up-link {
  color: #171a20;
  text-decoration: none;
  font-size: 50px;
  padding: 10px;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: auto;
  top: 10px;
  left: 50vw;
  rotate: 0deg;
  animation: nav-move-up 2s infinite;
}

.page-2 .nav-down-link {
  color: #171a20;
  text-decoration: none;
  font-size: 50px;
  padding: 10px;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 50vw;
  rotate: 180deg;
  animation: nav-move-down 2s infinite;
}

/* -------------------------------- */
/* -----       3rd Page       ----- */
/* -------------------------------- */

.page-3 {
  display: flex;
  position: relative;
  height: 76vh;
  background: url(./images/page-3.jfif) no-repeat center center/cover;
}

.page-3-down {
  position: relative;
  height: 24vh;
}

/* -------------------------------- */
/* -----       4th Page       ----- */
/* -------------------------------- */

.page-4 {
  display: flex;
  position: relative;
  height: 70vh;
  background: url(./images/page-4.jfif) no-repeat center center/cover;
}

.page-4-down {
  position: relative;
  height: 30vh;
}

/* -------------------------------- */
/* -----      Animations      ----- */
/* -------------------------------- */
@keyframes nav-move-down {
  25% {
    bottom: 0;
  }

  50% {
    bottom: 5px;
  }

  75% {
    bottom: 0;
  }
}

@keyframes nav-move-up {
  25% {
    top: 5px;
  }

  50% {
    top: 0;
  }

  75% {
    top: 5px;
  }
}